TG_API_ID=123456
TG_API_HASH=your_api_hash
TG_SESSION=your_string_session

SOURCE_CHANNELS=@chan1,@chan2
TARGET_CHANNEL=@targetchannel
FETCH_INTERVAL_SEC=15
FETCH_LIMIT=30

DEDUP_TTL_UAV_SEC=1200
DEDUP_TTL_MISSILE_SEC=600
DEDUP_TTL_PPO_SEC=900
DEDUP_TTL_AVIATION_SEC=900

STATE_FILE=data/state.json
