TG_API_ID=
TG_API_HASH=
TG_SESSION=
SOURCE_CHANNELS=@chan1,@chan2
TARGET_CHANNEL=@targetchan
FETCH_INTERVAL_SEC=15
FETCH_LIMIT=30
DEDUP_TTL_UAV_SEC=1200
DEDUP_TTL_MISSILE_SEC=600
DEDUP_TTL_PPO_SEC=900
DEDUP_TTL_AVIATION_SEC=900
